@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "Supplier";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Suppliers</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Supplier" asp-action="Create" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>

<table class="table table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>SupplierId</th>
            <th>Supplier Name</th>
            <th>Phone no</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.SupplierId</td>
                <td>@obj.SupplierName</td>
                <td>@obj.Phone</td>
                    <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Supplier" asp-action="Edit" asp-route-id="@obj.SupplierId">Edit</a> &nbsp;|&nbsp; <form asp-controller="Supplier" asp-action="DeletePost" asp-route-id="@obj.SupplierId" method="post"><a onclick="this.parentElement.submit()" class="text-danger" style="text-decoration:underline;" id="customDeletebtn">Delete</a></form>
                </div>
                    </td>
            </tr>
        }
    </tbody>
</table>